<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>suffix</key>
			<string></string>
			<key>width</key>
			<integer>22</integer>
			<key>height</key>
			<integer>22</integer>
			<key>padding</key>
			<integer>2</integer>
			<key>description</key>
			<string>Non-retina iPhone/iPad Toolbar Icon Size</string>
		</dict>
		<dict>
			<key>suffix</key>
			<string>@2x</string>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>44</integer>
			<key>padding</key>
			<integer>4</integer>
			<key>description</key>
			<string>Retina iPhone/iPad Toolbar Icon Size</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>suffix</key>
			<string></string>
			<key>width</key>
			<integer>25</integer>
			<key>height</key>
			<integer>25</integer>
			<key>padding</key>
			<integer>2</integer>
			<key>description</key>
			<string>Non-retina iPhone/iPad Tabbar Icon Size</string>
		</dict>
		<dict>
			<key>suffix</key>
			<string>@2x</string>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>50</integer>
			<key>padding</key>
			<integer>4</integer>
			<key>description</key>
			<string>Retina iPhone/iPad Tabbar Icon Size</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>suffix</key>
			<string></string>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>29</integer>
			<key>padding</key>
			<integer>2</integer>
			<key>description</key>
			<string>Non-retina iPhone/iPad Settings Icon Size</string>
		</dict>
		<dict>
			<key>suffix</key>
			<string>@2x</string>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>58</integer>
			<key>padding</key>
			<integer>4</integer>
			<key>description</key>
			<string>Retina iPhone/iPad Settings Icon Size</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>suffix</key>
			<string></string>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>60</integer>
			<key>padding</key>
			<integer>5</integer>
			<key>description</key>
			<string>Non-retina iPhone and iPod Touch App Icon Size</string>
		</dict>
		<dict>
			<key>suffix</key>
			<string>@2x</string>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>120</integer>
			<key>padding</key>
			<integer>10</integer>
			<key>description</key>
			<string>Retina iPhone App and iPod Touch App Icon Size</string>
		</dict>
		<dict>
			<key>suffix</key>
			<string>-iPad</string>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>76</integer>
			<key>padding</key>
			<integer>6</integer>
			<key>description</key>
			<string>Non-retina iPad App Icon Size</string>
		</dict>
		<dict>
			<key>suffix</key>
			<string>-iPad@2x</string>
			<key>width</key>
			<integer>152</integer>
			<key>height</key>
			<integer>152</integer>
			<key>padding</key>
			<integer>12</integer>
			<key>description</key>
			<string>Retina iPad App Icon Size</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>suffix</key>
			<string></string>
			<key>width</key>
			<integer>22</integer>
			<key>height</key>
			<integer>22</integer>
			<key>padding</key>
			<integer>2</integer>
			<key>description</key>
			<string>Non-retina OSX Status Bar Icon Size</string>
		</dict>
		<dict>
			<key>suffix</key>
			<string>@2x</string>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>44</integer>
			<key>padding</key>
			<integer>4</integer>
			<key>description</key>
			<string>Retina OSX status Bar Icon Size</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>suffix</key>
			<string>16</string>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>16</integer>
			<key>padding</key>
			<integer>2</integer>
			<key>description</key>
			<string>OSX Toolbar Icon Small Size</string>
		</dict>
		<dict>
			<key>suffix</key>
			<string>24</string>
			<key>width</key>
			<integer>24</integer>
			<key>height</key>
			<integer>24</integer>
			<key>padding</key>
			<integer>4</integer>
			<key>description</key>
			<string>OSX Toolbar Icon Medium Size</string>
		</dict>
		<dict>
			<key>suffix</key>
			<string>32</string>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>padding</key>
			<integer>4</integer>
			<key>description</key>
			<string>OSX Toolbar Icon Large Size / Retina OSX Toolbar Icon Small Size</string>
		</dict>
		<dict>
			<key>suffix</key>
			<string>48</string>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>48</integer>
			<key>padding</key>
			<integer>4</integer>
			<key>description</key>
			<string>Retina OSX Toolbar Icon Medium Size</string>
		</dict>
		<dict>
			<key>suffix</key>
			<string>64</string>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>padding</key>
			<integer>4</integer>
			<key>description</key>
			<string>Retina OSX Toolbar Icon Large Size</string>
		</dict>
	</array>
</array>
</plist>
